/**
 * This declaration file requires TypeScript 2.1 or above.
 */

declare namespace JIRA {
  export type Any = any;
  export type AnyObject = object;

  export type Headers = {
    [header: string]: any
  };

  export interface Options {
    baseUrl?: string;
    headers?: Headers;
    options?: AnyObject;
  }

  interface AuthBasic {
    type: "basic";
    username: string;
    password: string;
  }

  interface AuthAppPassword {
    type: "apppassword";
    username: string;
    password: string;
  }

  interface AuthToken {
    type: "token";
    token: string;
  }

  export type Auth =
    | AuthBasic
    | AuthAppPassword
    | AuthToken;

  export type ResponseHeaders = {
    [header: string]: any;
  };

  export type ResponseError =
    | JIRA.Schema.ErrorCollection
    | JIRA.Schema.Any;

  export interface Callback<T> {
    (error: ResponseError, response: T): void;
  }

  export interface Response<T> {
    data: T;
    headers: ResponseHeaders;
  }

  namespace Schema {
    export type Any = JIRA.Any;
    export type AnyObject = JIRA.AnyObject;

    {{{typesBlob}}}
  }

  namespace Params {
    export type Empty = {};

    {{#namespaces}}
    {{#apis}}
    {{^exclude}}
    {{#paramsType}}
    export type {{paramsType}} =
      {{#params}}
      {
      {{#items}}
        "{{name}}"{{^required}}?{{/required}}: {{#schema}}JIRA.Schema.{{/schema}}{{{type}}};
      {{/items}}
      };
      {{/params}}
      {{^params}}
      ;
      {{/params}}
    {{/paramsType}}
    {{/exclude}}
    {{/apis}}
    {{/namespaces}}
  }
}

declare class JIRA {
  constructor(options?: JIRA.Options);

  authenticate(auth: JIRA.Auth): void;
  
  {{#namespaces}}
  {{namespace}}: {
    {{#apis}}
    {{name}}(params: JIRA.Params.{{paramsType}}, callback?: JIRA.Callback<JIRA.Response<JIRA.Schema.{{responseType}}>>): Promise<JIRA.Response<JIRA.Schema.{{responseType}}>>;
    {{/apis}}
  };
  {{/namespaces}}
}

export = JIRA;

export as namespace JIRA;
